* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
    /* border: 1px solid; */
}
    
.container {
    border: 1px solid green;
    width: 98%; 
    height: 2890px;
}
    
.main-container {
    /* border: 1px solid red; */
    width: 100%;
    height: 600px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image: url(./image.file/bg-image.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover; 
}   

.header {
    /* border: 1px solid blue; */
    width: 98%;
    height: 90px;
    display: flex;

} 

.logo {
    margin-left: 40px;
    margin-top: 2rem;
    padding-top: 10px;
}

.nav-tabs > ul li {
    display: inline;
    margin-right: 10px;
    text-decoration: none;
    padding-left: 5px;
    margin-left: 9px;    

}

.nav-tabs > ul li a {
    text-decoration: none;
    border: 1px solid black;
    margin-top: 1rem;

}

.nav-tabs > ul {
    margin-top: 2rem;    
    
}

.holla {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding-left: 5rem;
    margin-left: 11rem; 
    margin-top: 1rem;
        
}

.ales {
    display: flex;
    flex-direction: column;
}

.ales h3 {
    font-size: small;
    margin-right: 0px;
    color: green;
}

.ales h2 {
    font-size: small;
    color: white;
}


.holla img {
    border-radius: 60px;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-left: 0.2rem;
    
}


.main-two {
    /* border: 2px solid blue; */
    height: 200px; 

} 

.main-two > h2 {
    text-align: center;
    margin-top: 5rem;
    color: whitesmoke;
    font-size: 2rem;
    border: 1px solid black;
}



.main-two > p {
    border: 1px solid palevioletred;
    width: 13vw;
    height: 8vh;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-top: 2rem;
    font-size: small;
    background-color: #7B61FF;
    color: whitesmoke;
    
}

.main-three {
    border: 1px solid white;
    width: 62rem;
    height: 6rem;
    display: flex;
    margin-top: 4rem;
    /* color: whitesmoke; */
    background-color: whitesmoke;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: small;

}

.map {
    border: 1px solid white;
    display: flex;
    margin-top: 2rem;
    margin-left: 1rem;
    width: 220px;
}
.vector-1 {
    padding-top: 1rem;

}

.activity {
    border: 1px solid white;
    display: flex;
    width: 9rem;
    margin-top: 2rem;
}

.vector-2 {
    padding-top: 1rem;
    
}

.date {
    border: 1px solid white;
    display: flex;
    width: 8rem;
    margin-top: 2rem;

}
.vector-3 {
    padding-top: 1rem;

}

.guest {
    border: 1px solid white;
    width: 6rem;
    display: flex;
    margin-top: 2rem;

}
.vector-4 {
    padding-top: 1rem;
}

.search {
    /* border: 1px solid blue; */
    width: 5rem;
    height: 4rem;
    margin-top: 1rem;
    padding-left: 25px;
    padding-top: 1.5rem;
    /* padding-bottom: 70px; */
    background-color: blue;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;

}

.section {
    border: 2px white;
    width: 100%;
    height: 400px
        
}

.section-title {
    border: 1px solid white;
    margin-top: 6rem;
    margin-left: 45px;
} 

.section-container {
    border: 1px solid whitesmoke;
    width: 94%;
    height: 15rem;
    margin-top: 1rem;
    display: flex;
    background-color: ffffff;
    
}


.section-one {
    width: 15%;
    border: 1px solid white;

}

.section-two {
    width: 15%;
    border: 1px solid white;
}

.section-three {
    width: 15%;
    border: 1px solid white;

}

.section-four {
    width: 15%;
    border: 1px solid white;
    
}

.section-five {
    width: 15%;
    border: 1px solid white;
}

.section-six {
    width: 15%;
    border: 1px solid white;

}


.hotel {
    /* border: 2px solid orange; */
    width: 92%;
    height: 3rem;
    display: flex;
    margin-bottom: 2rem;
}

.hotel > h2 {
    /* border: 1px solid blue; */
    margin-left: 0rem;

}


.view {
    /* border: 1px solid red; */
    width: 70px;
    margin-right: 0rem;
    margin-top: 0.5rem;
    
} 

.hospitality { 
    /* border: 1px solid blue ; */
    width: 92%;
    
} 

.classic {
    width: 100%;
    display:flex;
}

.spa {
    width: 22%;
    /* border: 1px solid black; */
    margin-right: 2rem;
}

.spa p {
    font-weight: 600;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.one {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid purple; */
    margin-top: 1rem;
}
.location {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    height: 2rem;
}
.location img {
    /* border: 1px solid red; */
    margin: 0px;
}
.location span {
    margin-left: 1rem;
}

.stars {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6rem;
    margin: 0px;
}

.stars img {
    margin: 0px;
}


.grand {
    width: 22%;
    /* border: 1px solid black; */
    margin-right: 2rem;

}
.grand p {
    font-weight: 600;
    margin-top: 1rem;
    font-size: 0.9rem;
}
.two {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid purple; */
    margin-top: 1rem;
}
.location-two {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    height: 2rem;
}
.location-two img {
    /* border: 1px solid red; */
    margin: 0px;
}
.location-two span {
    margin-left: 1rem;
}
.stars-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6rem;
    margin: 0px;
}
.stars-two img {
    margin: 0px;
}


.oberoi {
    width: 22%;
    /* border: 1px solid black; */
    margin-right: 2rem;

}
.oberoi p {
    font-weight: 600;
    margin-top: 1rem;
    font-size: 0.9rem;
}
.three {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid purple; */
    margin-top: 1rem;
}
.location-three {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    height: 2rem;
}
.location-three img {
    /* border: 1px solid red; */
    margin: 0px;
}
.location-three span {
    margin-left: 1rem;
}
.stars-three {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6rem;
    margin: 0px;
}
.stars-three img {
    margin: 0px;
}



.hill {
    width: 22%;
    /* border: 1px solid black; */
    margin-right: 2rem;

}
.hill p {
    font-weight: 600;
    margin-top: 1rem;
    font-size: 0.9rem;
}
.four {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid purple; */
    margin-top: 1rem;
}
.location-four {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    height: 2rem;
}
.location-four img {
    /* border: 1px solid red; */
    margin: 0px;
}
.location-four span {
    margin-left: 1rem;
}
.stars-four {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6rem;
    margin: 0px;
}
.stars-four img {
    margin: 0px;
}


.book-travel {
    /* border: 1px solid brown; */
    width: 92%;
    height: 60px;
    display: flex;
    margin-top: 3em;
    margin-bottom: 2rem;
    
}

.book-travel > h2 {
    margin-left: 1rem;
    padding-top: 24px;
}

.all {
    margin-right: 19px;
    padding-top: 16px;
    /* border: 1px solid green; */

}

.book {
    width: 92%;
    height: 340px;
    display: flex;
}

.ice {
    width: 22%;
    
}

.village {
    width: 22%;
}

.bridge {
    width: 22%;

} 

.brooklyn {
    width: 22%;
}

.hiknig {
    width: 92%;
    border: 1px solid white;
    
}

.act {
    border: 1px solid white;
    width: 92%;
    display: flex;
    height: 80px;
    
}
.act > h3 {
    border: 1px solid white;
    margin-left: 3rem;
    padding-top: 3rem;
}

.act > p {
    margin-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-top: 6px;
}

.climb {
    width: 92%;
    display: flex;
}

.hiking1 {
    width: 21%;
    border: 1px solid whitesmoke;
}

.hiking2 {
    width: 21%;
    border: 1px solid whitesmoke;
}

.hiking3 {
    width: 21%;
    border: 1px solid whitesmoke;
}

.hiking4 {
    width: 21%;
    border: 1px solid whitesmoke;
}

.about {
    width: 92%;
    display: flex;
}

.about-us {
    width: 40%;
    margin-top: 7rem;
    margin-left: 6rem;
}

.about-img {
    width: 40%;
    margin-right: 7rem;
    margin-top: 2rem;
}

.footer-container {
    /* border: 2px solid greenyellow; */
    width: 98%;
    height: 450px;
    background-color: #F9F9F9;
    
}
.footer {
    display: flex;
    /* border: 1px solid red; */
    width: 94%;
    height: 60%;
    margin-top: 6rem;

}

.footer-head {
    /* border: 2px solid blue; */

}

.footer-icon img {
    background-color: black;
    margin-top: 2rem;
    margin-left:0.5rem ;
}
.footer-head p {
    margin-top: 2rem;
    font-size: small;
    font-weight: 500;
}

.footer-img {
    width: 40px;
    height: 2rem;
    display: flex;
    margin-top: 2rem;
    margin-left: 1rem;
    column-gap: 1.8rem;
}

.footer-bout {
    /* border: 1px solid blue; */
    width: 8rem;
    margin-top: 2rem;
}
.footer-bout p {
    margin-top: 1rem;
    font-weight: 400;
}

.footer-company {
    /* border: 1px solid blue; */
    width: 8rem;
    margin-top: 2rem;
}

.footer-company p {
    margin-top: 1rem;
    font-weight: 400;
}


.footer-support {
    /* border: 1px solid blue; */
    width: 8rem;
    margin-top: 2rem;
}

.footer-support p {
    margin-top: 1rem;
    font-weight: 400;
}

.footer-destination {
    /* border: 2px solid red; */
    margin-top: 2rem;
    width: 20rem;

}

.footer-email {
    display: flex;
    margin-top: 2rem;
}

.envelop {
    /* border: 1px solid green; */
    width: 2rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.my-email {
    /* border: 1px solid orange; */
    width: 9rem;
    margin-left: 0rem;
}

.footer-arrow {
    /* border: 1px solid blue; */
    width: 4rem;
    height: 3rem;
    background-color: #7B61FF;
    padding-top: 1rem;
    padding-left: 1.5rem;
    border-radius: 6px 6px 6px 6px;
}